* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto',sans-serif;
}

.header,
.container,
.intro,
.hero-text,
.gallery,
.item,
.describtion,
.qoute,
.contact,
.panel,
.footer,
body {
    display: flex;
}

.header,
.hero-text,
.gallery,
.item,
.describtion,
.qoute,
body {
    flex-flow: column;
}

.header,
.gallery,
.qoute,
.contact {
    min-width: 780px;
}

body{
    height: 100vh;
}
ul {
    list-style: none;
    display: flex;
}
a {
    text-decoration: none;
}
/* #region-Header */
.header {
    background-color: #1F2937;
    padding: 18px 356px 0;
}
.header .container,
.header .intro {
    justify-content: space-between;
    align-items: center;
}
.header .container{
    margin-bottom: 56px;
}

.header .container img {
    height: 48px;
    width: auto;
}
.header .container ul {
    align-self: flex-start;
    justify-content: flex-end;
    gap: 32px;
}
.container ul a {
    color: #e5e7eb;
}

.header .intro {
    margin-bottom: 64px;
    gap: 36px;
}
.intro .hero-text {
    gap: 36px;
    align-self: flex-start;
}
.intro .hero-text  h1 {
    font-size: 52px;
    font-weight: 900;
    color: #f9faf8;
}
.intro .hero-text p {
    font-size: 18px;
    color: #e5e7eb;
}
.intro .hero-text button {
    background-color: #3882f6;
    height: 32px;
    width: 128px;
    border: none;
    border-radius: 5px;
}
.intro .hero-text a {
    color: #f9faf8;
    font-weight: 600;
}
.intro img {
    height: auto;
    width: 512px;
}
/* #endregion */

/* #region-Content */
    /* Gallery */
.gallery {
    padding: 64px 356px 172px;
    align-items: center;
    flex: 1;
}
.gallery h2 {
    font-size: 48px;
    font-weight: 900;
    color: #1F2937;
    margin-bottom: 72px;
}
.gallery .container {
    gap: 56px;
    flex-flow: wrap;
    justify-content: center;
}
.gallery .container .item {
    padding: 4px 8px;
    border: #3882f6 solid 2px;
    border-radius: 10px;
    width: 212px;
    height: 362px;
    flex: 0 0 auto;
}
.container .item img {
    height: 196px;
    width: auto;
    margin-bottom: 12px;
}
.container .item .describtion {
    flex: 1;
    justify-content: flex-end;
}
.item .describtion h4 {
    color: #1F2937;
    font-weight: 900;
    flex: 1;
}
.item .describtion .detail {
    margin-bottom: 12px;
    flex: 1;
}
.describtion .detail ul {
    background-color: #e5e7eb;
    padding: 4px 8px;
    flex-flow: wrap;
    row-gap: 8px;
    column-gap: 16px;
}
.item .describtion .price {
    flex: 1;
}
.describtion .price .original-price {
    color: #a9a9a9;
    text-decoration: line-through;
    font-size: 14px;
    margin-bottom: 4px;
}
.describtion .price .discount-price {
    color: #f00;
    font-weight: 900;
}
.price .discount-price span {
    font-weight: 100;
    border: #f00 solid 1px;
    border-radius: 2px;
    padding: 2px 6px;
    margin-left: 8px;
}
    /* Quote */
.qoute {
    background-color: #e5e7eb;
    padding: 156px 356px 128px;
    align-items: center;
}
.qoute .text {
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 24px;
}
.qoute .author {
    font-size: 24px;
    font-weight: 900;
}
    /* Contact */
.contact {
    padding: 112px 356px;
    justify-content: center;
    align-items: center;
}
.contact .panel
{
    background-color: #3882f6;
    border-radius: 5px;
    padding: 64px 128px;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}
.panel .content h4 {
    color: #f9faf8;
    font-size: 24px;
    margin-bottom: 12px;
}
.panel .content .text {
    color: #e5e7eb;
}
.contact .panel a {
    font-weight: 600;
    font-size: 16px;
    color: #f9faf8;
    background-color: #3882f6;
    border: #f9faf8 solid 2px;
    border-radius: 10px;
    padding: 18px 36px;
} 
/* #endregion */

/* #region-Footer */

/* endregion */